# App
ENV=development
PORT=8080

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=disable

# Log broker: channel | redis | nats
LOG_BROKER=channel

# AWS / LocalStack (use these values for local dev with LocalStack)
AWS_ENDPOINT_URL=http://localhost:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=us-east-1
S3_BUCKET=brimble-deployments

# Docker
DOCKER_HOST=unix:///var/run/docker.sock

# Domain
DOMAIN=brimble.test

# Caddy
CADDY_ADMIN_URL=http://localhost:2019
