{
	admin :2019
}

:80 {
	# API routes
	handle /api/* {
		reverse_proxy api:8080
	}

	handle_path /s3-upload/* {
		reverse_proxy localstack:4566
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
